.container {
  font-family: 'Josefin Sans', sans-serif;
  padding: 1.5rem 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
}

.loading,
.error {
  text-align: center;
  font-size: 1.25rem;
  color: #093866;
  margin-top: 2rem;
  font-weight: 600;
}

.pagination {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.pageButton {
  padding: 8px 16px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  background-color: #093866;
  color: #fff;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
}

.pageButton:disabled {
  background-color: #ccc !important;
  color:#093866 !important;
  cursor: not-allowed;
}

.pageNumber {
  font-weight: 600;
  font-size: 18px;
  color:#093866
}
