.custom-footer {
  background-color: #093866;
  color: rgba(255, 255, 255, 0.95);
}

.custom-footer .contact-icons {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  gap: 16px;
  font-size: 18px;
}

.custom-footer .contact-icons svg {
  color: rgba(255, 255, 255, 0.95);
  transition: color 0.3s ease;
}

.custom-footer .contact-icons svg:hover {
  color: #6b9bc6;
}
