.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #c7d5e1;
  padding: 1rem;
}

.card {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  color: #093866;
}

.label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: #093866;
}

.input {
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 0.6rem;
  font-size: 1rem;
}

.input:focus {
  color: #093866 !important;
  outline: none;
  border-color: #093866;
  box-shadow: 0 0 2px #093866;
}


.resetBtn {
  background-color: #093866;
  color: rgba(245, 248, 248, 0.9);
  margin-top: 1rem;
  transition: background-color 0.3s;
  font-weight: 500;
}

.resetBtn:hover {
  background-color: #092a4d;
  color: rgba(245, 248, 248, 0.9);
}

.codeWrapper {
  display: flex;
  gap: 20px; 
  padding: 0;
  justify-content: center;
}

.codeInput {
  width: 40px;
  height: 45px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 0 !important;
  padding: 0;
  box-sizing: border-box;
}



.codeInput:focus {
  border-color: #093866;
  box-shadow: 0 0 3px rgba(9, 56, 102, 0.4);
}


@media (min-width: 768px) and (max-width: 1024px) {
  .card {
    padding: 1.5rem;
    max-width: 90%;
  }

  .input {
    font-size: 0.95rem;
    padding: 0.5rem;
  }

  .resetBtn {
    font-size: 1rem;
    padding: 0.6rem;
  }

  .label {
    font-size: 0.95rem;
  }

  .codeInput {
    width: 38px;
    height: 44px;
    font-size: 16px;
  }
}


@media (max-width: 768px) {
  .card {
    padding: 1.5rem;
    max-width: 90%;
  }

  .input {
    font-size: 0.95rem;
    padding: 0.5rem;
  }

  .resetBtn {
    font-size: 1rem;
    padding: 0.6rem;
  }

  .label {
    font-size: 0.95rem;
  }

  .codeInput {
    width: 36px;
    height: 42px;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .card {
    padding: 1.2rem;
  }

  .input {
    font-size: 0.9rem;
    padding: 0.4rem;
  }

  .resetBtn {
    font-size: 0.95rem;
    padding: 0.5rem;
  }

  .label {
    font-size: 0.9rem;
  }

  .codeInput {
    width: 34px;
    height: 40px;
    font-size: 15px;
  }
}
